
<!DOCTYPE html>
<html>
<head>
<style>

#jumbotron {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#card1 {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    background-color: #ff5500;
}

#img-phone {
    background-image: url(images/kyurahtay.png);
    width:908px;
    height:451px;
    background-size:cover;
    margin: auto;
}

.card-text {

    margin: auto;
    text-align:center;

    width: 800px;
}



</style>
</head>
<body>

<div id="card1">

    <div id="img-phone">

    </div>

</div>
</body>
</html>
